<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/tickets/${id}(id=${id})/update}" th:object="${person}">
    <label for="name">Enter name:</label>
    <input id="name" th:field="*{name}" type="text"/>
    <br/>
    <label for="surname">Enter surname:</label>
    <input id="surname" th:field="*{surname}" type="text"/>
    <br/>
    <label for="email">Enter email:</label>
    <input id="email" th:field="*{email}" type="text"/>
    <br/>
    <input type="submit" value="Take ticket!">
</form>
</body>
</html>